<p id="notice"><%= notice %></p>

<p>
  <strong>Firm:</strong>
  <%= @firm.firm_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @firm.type %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @firm.sector %>
</p>

<p>
  <strong>Specialties:</strong>
  <%= @firm.specialties %>
</p>

<p>
  <strong>Vintage:</strong>
  <%= @firm.vintage %>
</p>

<p>
  <strong>Location:</strong>
  <%= @firm.location %>
</p>

<p>
  <strong>Size:</strong>
  <%= @firm.size %>
</p>

<p>
  <strong>Projects:</strong>
  <%= @firm.projects %>
</p>

<p>
  <strong>Top 10 products:</strong>
  <%= @firm.top_10_products %>
</p>

<p>
  <strong>Accolades:</strong>
  <%= @firm.accolades %>
</p>

<p>
  <strong>State licensure:</strong>
  <%= @firm.state_licensure %>
</p>

<p>
  <strong>Name:</strong>
  <%= @firm.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @firm.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @firm.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @firm.website %>
</p>

<%= link_to 'Edit', edit_firm_path(@firm) %> |
<%= link_to 'Back', firms_path %>
